<title>Easy Territory Maker 2</title>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Easy Territory Maker</h1>
		<p>Making it easier for Jehovah's Witnesses to manage their territories!</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Create</h2>
			<p>
				Need to create an entire congregation territory?
				<strong>Easy Territory Maker helps you do it in minutes, costs nothing, and is built by brothers.</strong>
			</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Manage</h2>
			<p>
				What territories need worked next?
				Which have not been worked in a year?
				Where is the report for the CO?
				Where are your most productive territories?
				<strong>Easy Territory Maker has all of that ready for you on the fly!</strong>
			</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Collaborate</h2>
			<p>
				Who has the territory book?
				Where is the territory stack?
				When can I check it out?
				Oh no!  I lost my card, where can I find it?

				<strong>Easy Territory Maker provides with a digital or analog territory, directions to it,
				and the ability for brothers to collaborate in both distributing and working them.</strong>
			</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
</div>