<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="src/img/logo.svg" width="15px" v-title="Enpowi"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown" v-show=" hasPerm('congregation', 'view') ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span v-t>Congregation</span>  <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/congregation/list" v-t>List</a></li>
					</ul>
				</li>
				<li class="dropdown" v-show=" hasPerm('territory', 'view') || hasPerm('address', 'list') ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span v-t>Territory</span>  <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li v-show=" hasPerm('territory', 'priority') "><a href="#/territory/priority" v-t>Priority</a></li>
						<li v-show=" hasPerm('territory', 'return_dates') "><a href="#/territory/return_dates" v-t>Return Dates</a></li>
						<li v-show=" hasPerm('territory', 'congregation') "><a href="#/territory/congregation" v-t>Congregation Map</a></li>
						<li v-show=" hasPerm('territory', 'book') "><a href="#/territory/book" v-t>Book</a></li>
						<li v-show=" hasPerm('territory', 'list') "><a href="#/territory/list" v-t>List</a></li>
						<li v-show=" hasPerm('territory', 'list_not_in_circulation') "><a href="#/territory/list_not_in_circulation" v-t>Uncirculated</a></li>
						<li v-show=" hasPerm('address', 'list') "><a href="#/address/list" v-t>Addresses</a></li>
						<li v-show=" hasPerm('territory', 'export_csv') "><a href="#/territory/export_csv" v-t>Export CSV</a></li>
						<li v-show=" hasPerm('territory', 'export_geojson') "><a href="#/territory/export_geojson" v-t>Export GeoJSON</a></li>
					</ul>
				</li>
				<li class="dropdown" v-show=" hasPerm('publisher', 'view') ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span v-t>Publishers</span>  <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/publisher/list" v-t>List</a></li>
					</ul>
				</li>
				<li class="dropdown" v-show=" hasPerm('*', '*') ">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span v-t>Administrate</span> <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/users/list" v-t>Users</a></li>
						<li><a href="#/group/list" v-t>Groups</a></li>
						<li><a href="#/perms/list" v-t>Permissions</a></li>
					</ul>
				</li>
			</ul>
			<form
					class="navbar-form navbar-left"
					role="search"
					v-show="hasPerm('territory', 'view') || hasPerm('publisher', 'view')">
				<div class="form-group">
					<input
							type="text"
							class="form-control"
							v-placeholder="Search"
							id="search"
							v-find="{
								find: 'default/search_service'
							}">
				</div>
				<button type="submit" id="submit" class="btn btn-default" v-t>Submit</button>
			</form>
			<form class="navbar-form navbar-right" action="user/login" v-module data-done="user/view" v-show="session.user.email === ''">
				<div class="form-group">
					<input type="text" v-placeholder="Email" name="email" class="form-control">
					<span v-text="email"></span>
				</div>
				<div class="form-group">
					<input type="password" v-placeholder="Password" name="password" class="form-control">
				</div>
				<button type="submit" class="btn btn-success" v-t>Sign in</button>
				<a class="btn btn-success" v-t v-on:click="go('user/register')">Register</a>
			</form>
			<form class="navbar-form navbar-right" action="user/logout" v-module data-done="default" v-show="session.user.email !== ''">
				<a class="btn btn-success" v-on:click="go('user/view')">{{session.user.email}}</a>
				<button type="submit" class="btn btn-success" v-t>Sign out</button>
			</form>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<script>
	var submit = app.getElementById('submit'),
			search = app.getElementById('search');

	submit.onclick = function() {
		var val = search.value;

		if (!val) return;

		if (isNaN(val)) {
			app.go('/publisher/view?name=' + val);
		} else {
			app.go('/territory/view?number=' + val);
		}
	};
</script>